[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
mypy = "*"
riemann-ether = {path = ".", editable = true}
twine = "*"
pytest = "*"

[packages]
pycryptodomex = "*"
eth-abi = "==1.3.0"
eth-keys = "==0.2.1"
eth-account = "==0.3.0"

[requires]
python_version = "3.6"
