[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "./scripts/run_tests.sh"

[dev-packages]
ipython = "*"
mypy = "*"
riemann-ether = {editable = true,path = "."}
twine = "*"
flake8 = "*"
coverage = "*"
pytest-cov = "*"

[packages]
eth-keys = "==0.2.1"
eth-account = "==0.3.0"
websockets = "*"
pycryptodomex = "*"
aiohttp = "*"

[requires]
python_version = "3.6"
